*{
    padding: 0;
    margin: 0;
    
}
body{
    /* width: 100vw; */
    height: 100vh;
    /* height: 1000px; */
}
.container{
    width: 100%;
    height: 100%;
  
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}
.links a{
    gap: 2rem;
    justify-content: space-between;
    text-decoration: none;
    padding: 1rem;
    color: grey;
}
ul{
    list-style-type: none   ;
    align-items: center;
    justify-content: center;
}
.kane{
    background-color: rgb(230,234,238);
    width: 80%;
    height: 28% ;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem 4rem;
    border-radius: 1rem;
    margin-bottom: 100px;
    margin-left: 60px;
    
}
.h1{
    align-items: center;
    justify-content: center; 
    font-size: 4rem;
    /* font-family: arial; */
    padding: 1rem 12rem;
    font-family: Syne, sans-serif;
    
}
.p1{
background-color: white;
width: 35%;
/* height: 0%; */
align-items: center;
justify-content: center;
padding: 1.2rem 2rem;
padding-right: .5rem;
margin: 0 auto;
/* margin-top: 0; */
/* font-family: Syne, sans-serif; */
/* font-size: 16px; */
}
.p{
    font-family: Syne, sans-serif;
font-size: 16px;
color: grey;

}
.img{
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
    object-fit: cover;
}
.im{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin-right: 10px;
    border-radius: 1rem;
}
.pic{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.269);
    width: 30%;
    padding: 1rem 1rem;
    border-radius: 2rem;
   
    justify-content: center;
  
    
    
}
.av{
    border: 1px solid grey;
    width: 160px;
    padding: .5rem 1rem;
    border-radius: 3rem;
    margin: 0 auto;
    /* justify-content: center;
    align-items: center; */
    color: grey;

}
.h2{
    margin: 0 auto;
    /* justify-content: center;
    align-items: center; */
    /* padding-left: 80px; */
    margin-bottom: 10px;
    font-size: 30px;
    font-family: arial;
    color: rgba(0, 0, 0, 0.721);
}
.p3{
    /* display: inline-block; */
    /* font-size: 30px; */
    line-height: 40px;
    /* align-items: center;
    justify-content: center; */
    width: 50%;
    /* padding-bottom: 50px;
    margin-left: 600px;
    margin-bottom: 50px;  */




}
.about{
    display: flex;
    gap: 2rem;
    padding: 2rem;
    justify-content: space-between;
    padding: 3rem 4rem;
    align-items: center;
    
}
.fr{
    border: 1px solid rgba(128, 128, 128, 0.438);
    width: 350px;
    /* margin-bottom: 250px; */
    padding-right: 1rem;
    padding-left: 1rem;
    display: inline-block;
    /* height: ; */
}
.para{
    font-size: 35px;
    font-family: arial;
    /* padding: 1rem 1rem; */
    margin-bottom: 100px;
    display: inline-block;
    width: 500px;
    /* padding-bottom: 200px; */
    /* padding-top: 200px;   */
    line-height: 4rem;
    /* margin-top: ; */
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.76);

}
.btn{
    border: none;
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    border-radius: .4rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 100px;
    
}
.uul{
    display: flex;
}


 .ul2{
    display: flex;
    /* gap: 2rem; */
    /* justify-content: space-between; */
    padding-left: 3rem;
 }
 .entity{
    gap: 2rem;
    justify-content: space-between;
    padding-left: irem;
 }
 .social{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1.5rem;
    /* padding: 2rem; */
 }
 .social:hover{
    cursor:pointer;
   
 }
 .face{
    border: 1px solid rgba(128, 128, 128, 0.605);
    width: 2rem;
    height: 2rem;
    
    padding: .5rem;

    display: flex;
    align-items: center;
  
    justify-content: center;

    
 }
 .face:hover{
    width: 3.5rem;
    height: 3.5rem;
    cursor:pointer;
    background-color:grey;
  
 }
 .x{
    border: 1px solid grey;
    width: 2rem;
    height: 2rem;
    
    padding: .5rem;

    display: flex;
    align-items: center;
  
    justify-content: center;

 }
 .x:hover{
    width: 3.5rem;
    height: 3.5rem;
    cursor:pointer;
    background-color:grey;
  
 }
 
 
 .linkedin{
    border: 1px solid grey;
    width: 2rem;
    height: 2rem;
    
    padding: .5rem;

    display: flex;
    align-items: center;
  
    justify-content: center;
 }
 .github{
    border: 1px solid grey;
    width: 2rem;
    height: 2rem;
    
    padding: .5rem;

    display: flex;
    align-items: center;
  
    justify-content: center;
 }
 .linkedin:hover{
    width: 3.5rem;
    height: 3.5rem;
    cursor:pointer;
    background-color:grey;
  
 }
 .github:hover{
    width: 3.5rem;
    height: 3.5rem;
    cursor:pointer;
    background-color:grey;
  
 }
 .f:hover{
    width: 3.5rem;
    height: 3.5rem;
    cursor:pointer;
    background-color:grey;
  
 }
 .services{
    margin-top: 40px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
 }
 .services h3{
    padding: 1rem 3rem;
    font-size: 20px;
    margin-left: 10px;
    color: grey;
 }
 .services h1{
    font-size: 40px;
    padding-right: 1rem;
    font-family: arial;
 }
 .cards{
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding :3rem;
 }
 .first{

background-color: rgba(128, 128, 128, 0.219);
border: 1px solid grey;
width: 20%;
height: 250px;
padding: 2rem 3rem;
border-radius: .5rem;
 }
 .first img{
    width: 80px;
 }
 .first p{
    padding-top: 10px;
    width: 250px;
    line-height: 2rem;
    font-size: 18px;
 }
 .first:hover{
    border: 1.5px solid rgb(0, 0, 0);
}
.menu{
 display: none;
} 
.details{
    padding: 1rem;
}
@media(max-width:768px){
    .kane{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(230,234,238);
        width: 65%;
        height: 20% ;
        padding: 1rem 3rem;
        border-radius: 1rem;
        margin: 0 auto;
      
        
    }

}
@media(max-width:768px){
    
    .h1{
        align-items: center;
        justify-content: center; 
        font-size: 1rem;
        align-items: center;
        justify-content: center;
        /* font-family: arial; */
        padding: .5rem 6rem;
        font-family: Syne, sans-serif;
        
    }
}
@media(max-width:768px){
    .navbar{
          padding: 1rem 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 1rem;
    }
}
@media(max-width:768px){
    .p{
        font-family: Syne, sans-serif;
    font-size: 10px;
    color: grey;
    
    }
}
@media(max-width:768px){
    .links a{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: .5rem;
        color: grey;
    display: none;
    

    }
}
@media(max-width:768px){
    .links a:hover{
display: flex;
    }
}

@media(max-width:768px){
    .menu{
        display: flex;
        align-items: center;
        font-size: 25px;
    } 
}

@media(max-width:768px){
    .kk{
        font-size: 25px;
        
        
       
    }
}
@media(max-width:768px){
    .p1{
        background-color: white;
        width: 60%;
        align-items: center;
        justify-content: center;
        padding: 1rem 1rem;
        padding-right: .2rem;
        margin: 0 auto;
      
        }
}

@media(max-width:768px){
    .p3{
        flex-direction: column;
        line-height: 40px;
      
    
}
}
@media(max-width:768px){
    .para{
        flex-direction: column;
        font-size: 25px;
        font-family: arial;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        margin: 0 auto;
        margin-right:50px;
        padding-right: .5rem;
        line-height: 2rem;
        margin-bottom: 20px;
        color: rgba(0, 0, 0, 0.76);
    
    }
}
@media(max-width:768px){
    .about{
        flex-direction: column;
    }
}
@media(max-width:768px){
    .cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .first{

        background-color: rgba(128, 128, 128, 0.219);
        border: 1px solid grey;
        width: 100%;
        height: 250px;
        padding: 2rem;
        border-radius: .5rem;
         }
         .first img{
            width: 80px;
         }
         .first p{
            padding-top: 10px;
            line-height: 2rem;
            font-size: 18px;
         }
         .first:hover{
            border: 1.5px solid rgb(0, 0, 0);
        }

        .p3{
            line-height: 40px;
            width: 50%;
           
        
        
        
        }

        .pic{
            border: 1px solid rgba(128, 128, 128, 0.269);
            width: 100%;
            padding: 1rem 1rem;
            border-radius: .5rem;
            display: flex;
            justify-content: center;
            
       
        }
        .img{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
      
        }
        .im{
            width:60%;
            padding-left:.5rem;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
}
@media(max-width:768px){
    .fr{
        border: 1px solid rgba(128, 128, 128, 0.438);
        width: 170px;
        /* padding-right: 1rem; */
        /* padding-left: 1rem; */
        display: inline-block;
       
    }
}
@media(max-width:768px){
    .ui{
        padding: .3rem 1rem;
    }
}
@media(max-width:768px){
    .btn{
        border: none;
        background-color: black;
        color: white;
        padding: 1rem 1rem;
        border-radius: .4rem;
        display: inline-block;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 100px;
        
    }
}


